@model List<TakeLeave.Web.Areas.HR.Models.HrLeaveRequestViewModel>

<div class="container mt-4 justify-content-center text-center">
    <h3>List of all leave requests:</h3>

    <button type="submit"
            class="btn btn-primary mt-3 leave-request-create">
        Create New Leave Request
    </button>

    <table class="table table-secondary table-striped table-bordered border-secondary-subtle mt-4 shadow">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Leave Start Date</th>
                <th>Leave End Date</th>
                <th>Leave Type</th>
                <th>Status</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id" class="leave-id">
                    <td>@item.FirstName @item.LastName</td>
                    <td data-leave-start-date="@item.LeaveStartDate">@item.LeaveStartDate.ToString("dd-MM-yyyy")</td>
                    <td data-leave-end-date="@item.LeaveEndDate">@item.LeaveEndDate.ToString("dd-MM-yyyy")</td>
                    <td data-leave-type="@item.LeaveType">@item.LeaveType</td>
                    <td>@item.Status</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-area="HR"
                               asp-controller="LeaveRequests"
                               asp-action="UpdateLeaveRequest"
                               asp-route-id="@item.Id"
                               class="btn btn-info btn-actions">
                                <img src="~/icons/edit.svg" />
                                Edit
                            </a>
                            <a href="#"
                               class="approve-leave-request btn btn-success btn-actions"
                               data-leave-id="@item.Id">
                                <img src="~/icons/approve.svg" />
                                Approve
                            </a>
                            <a asp-area="HR"
                               asp-controller="LeaveRequests"
                               asp-action="RejectLeaveRequest"
                               asp-route-id="@item.Id"
                               class="btn btn-danger btn-actions">
                                <img src="~/icons/reject.svg" />
                                Reject
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.btn-actions').each(function () {
                var status = $(this).closest('tr').find('td:eq(4)').text().trim();
                if (status !== "On wait") {
                    $(this).addClass('disabled');
                    $(this).removeAttr('href');
                    $(this).click(function (e) {
                        e.preventDefault();
                    });
                }
            });

            $('.approve-leave-request').click(function (e) {
                e.preventDefault();

                var leaveId = $(this).data('leave-id');
                var start = $(this).closest('tr').find('[data-leave-start-date]').data('leave-start-date');
                var end = $(this).closest('tr').find('[data-leave-end-date]').data('leave-end-date');
                var leaveType = $(this).closest('tr').find('[data-leave-type]').data('leave-type');

                var modelData = {
                    Id: leaveId,
                    LeaveStartDate: start,
                    LeaveEndDate: end,
                    LeaveType: leaveType
                };

                var url = '@Url.Action("ApproveLeaveRequest", "LeaveRequests")';

                $.post(url, modelData, function (responseData, status) {
                    console.log("Post request status: " + status);
                    console.log("Response data: " + responseData);
                });
            });
        });
    </script>
}
