@model List<TakeLeave.Web.Areas.HR.Models.HrLeaveRequestViewModel>

<div class="container mt-4 justify-content-center text-center">
    <h3>List of all your leave requests:</h3>

    <button type="submit"
            class="btn btn-primary mt-3 leave-request-create">
        Create New Leave Request
    </button>

    <table class="table table-secondary table-striped table-bordered border-secondary-subtle mt-4 shadow">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Leave Start Date</th>
                <th>Leave End Date</th>
                <th>Leave Type</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.LeaveStartDate.ToString("dd-MM-yyyy")</td>
                    <td>@item.LeaveEndDate.ToString("dd-MM-yyyy")</td>
                    <td>@item.LeaveType</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-area="HR" asp-controller="LeaveRequests" asp-action="UpdateLeaveRequest" asp-route-id="@item.Id">
                                <img src="~/icons/edit.svg" />
                            </a>
                            <a asp-area="HR" asp-controller="LeaveRequests" asp-action="ApproveLeaveRequest" asp-route-id="@item.Id">
                                <img src="~/icons/approve.svg" />
                            </a>
                            <a asp-area="HR" asp-controller="LeaveRequests" asp-action="RejectLeaveRequest" asp-route-id="@item.Id">
                                <img src="~/icons/reject.svg" />
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>
