@using System.Globalization
@model List<TakeLeave.Web.Areas.HR.Models.LeaveCalendarViewModel>
@{
    var currentMonth = Model.Any() ? Model.First().Date.Month : DateTime.UtcNow.Month;
    var currentYear = Model.Any() ? Model.First().Date.Year : DateTime.UtcNow.Year;
}

<div class="container justify-content-center">
    <div class="row">
        <div class="col">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" id="prev-month"><</a></li>
                <li class="page-item"><a class="page-link" id="current-month" data-month="@currentMonth">@DateTime.Now.ToString("MMMM")</a></li>
                <li class="page-item"><a class="page-link" href="#" id="next-month">></a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" id="prev-year"><</a></li>
                <li class="page-item"><a class="page-link" id="current-year" data-year="@currentYear">@DateTime.Now.ToString("yyyy")</a></li>
                <li class="page-item"><a class="page-link" href="#" id="next-year">></a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">today</a></li>
                <li class="page-item"><a class="page-link" href="#">week</a></li>
                <li class="page-item"><a class="page-link" href="#">month</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="calendar mt-4" id="calendar">
    <partial name="Partial/_CalendarPartial" />
</div>


@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.dropdown-toggle').on('click', function (e) {
                var dropdown = $(this).next('.employee-dropdown');
                $('.employee-dropdown').not(dropdown).removeClass('show-dropdown');
                dropdown.toggleClass('show-dropdown');
                e.stopPropagation();
            });

            $(document).on('click', function () {
                $('.employee-dropdown').removeClass('show-dropdown');
            });

            $('.employee-dropdown').on('click', function (e) {
                e.stopPropagation();
            });

            function loadCalendar(year, month) {
                $.ajax({
                    url: '@Url.Action("Index", "Dashboard")',
                    data: { year: year, month: month },
                    success: function (data) {
                        $('#calendar').html(data);
                        $('[data-toggle="tooltip"]').tooltip();
                        $('#current-month').data('month', month).text(new Date(year, month - 1, 1).toLocaleString('default', { month: 'long' }));
                        $('#current-year').data('year', year).text(year);
                    }
                });
            }

            $('#prev-month').on('click', function (e) {
                e.preventDefault();
                var currentMonth = parseInt($('#current-month').data('month'));
                var currentYear = parseInt($('#current-year').data('year'));
                if (currentMonth === 1) {
                    currentMonth = 12;
                    currentYear--;
                } else {
                    currentMonth--;
                }
                loadCalendar(currentYear, currentMonth);
            });

            $('#next-month').on('click', function (e) {
                e.preventDefault();
                var currentMonth = parseInt($('#current-month').data('month'));
                var currentYear = parseInt($('#current-year').data('year'));
                if (currentMonth === 12) {
                    currentMonth = 1;
                    currentYear++;
                } else {
                    currentMonth++;
                }
                loadCalendar(currentYear, currentMonth);
            });

            $('#prev-year').on('click', function (e) {
                e.preventDefault();
                var currentYear = parseInt($('#current-year').data('year'));
                currentYear--;
                loadCalendar(currentYear, parseInt($('#current-month').data('month')));
            });

            $('#next-year').on('click', function (e) {
                e.preventDefault();
                var currentYear = parseInt($('#current-year').data('year'));
                currentYear++;
                loadCalendar(currentYear, parseInt($('#current-month').data('month')));
            });
        });
    </script>
}
